<div id="mypage">
  <div id="opa_layer">
    <h1 class="mypage_title">MyPage</h1><br>
    <div id="user_info">
      <!-- アカウントのアイコン -->
      <%= image_tag 'icon.jpg', size: '100x100', id: 'user_image' %>
      <h2 class="mypage_title">
        <div class='user_name'>
          ユーザの名前：
          <br><span id="account_user"><%= @account.accountname %></span>
        </div>
      </h2>
    </div>
  </div>
</div>
