<div id="mypage">
  <div id="opa_layer">
    <h1 class="mypage_title">MyPage</h1><br>
    <div id="user_info">
      <!-- アカウントのアイコン -->
      <%= image_tag 'icon.jpg', size: '100x100', id: 'user_image' %>
      <h2 class="mypage_title">
        <div class='user_name'>
          ユーザの名前：
          <br><span id="account_user"><%= @account.accountname %></span>
        </div>
      </h2>
    </div>
    <form class="cng_col" onsubmit="cng_col();">
      <select class="cng_col" name="sel_col" id="sel_col">
        <option value="select">選択してください</option>
        <option value="red">赤</option>
        <option value="yellow">黄</option>
        <option value="orange">橙</option>
        <option value="skyblue">空</option>
        <option value="blue">青</option>
        <option value="green">緑</option>
        <option value="pink">桃</option>
        <option value="black">黒</option>
        <option value="silver">銀</option>
        <option value="gold">金</option>
      </select>
      <button class="cng_col" type="button" name="sel_col" onclick="cng_col();">変更</button>
    </form>
  </div>
</div>
