<div id="mypage">
  <div id="opa_layer">
    <div id="user_info">
      <div class='edit_text'>
        <span>編集しました。</span><br>
        <%= link_to '戻る', useraccount_path, class: 'back_show' %>
      </div>
    </div>
  </div>
</div>