<li class="cmt">
    <strong><%= chat.useraccount.accountname %></strong>
    <%= chat.created_at %><br>
    <span><%= chat.comment %></span>
    <%= link_to '削除', "/chats/#{chat.id}", method: :delete, remote: true %>
</li><br>
