<% if useraccount_signed_in? %>
  <ul id="ul_list">
    <%= render @comments %>
  </ul>
  <div class="form">
    <%= form_for @comment, remote:true do |f| %>
      <%= f.text_field :comment, :size=>"100", :maxlength=>"80", :autocomplete=>"off" ,class: "text_form" %>
    <% end %>
  </div>
<% else %>

<% end %>
