html {
  height: 100vh;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
}

/* application.html.erb */
#main {
  height: 100%;
}
/* ヘッダー部 */
.header {
  position: fixed;
  top: 0;
  width: 100%;
}
.user_nav, .grid-6-1 {
  display: inline;
  border: 1px solid #000;
  border-radius: 8px;
  float: right;
  border: none;
}
.post:visited {
  color: #FFAAAA;
}
/* サイドメニュー */
#side {
  height: 100%;
  float: left;
  border: 1px solid #000;
  background-color: #CFC;
}
#side .general a{
  display: inline-block;
  font-size: 25px;
  text-decoration: none;
  color: #FFAAAA;
  margin: 0 0 20px 10px;
}
#title {
  display: inline-block;
  font-size: 50px;
  margin: 20px 10px;
}
.accountname {
  margin: 10px;
  color: #6666FF;
}
.other_user a {
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
}
.other_user a:visited {
  color: #FFAAAA;
}

/* index.html.erb */
/* チャット部分 */
#content {
  height: 600px;
  overflow: auto;
}
.form {
  position: fixed;
  bottom: 0;
  right: 40px;
}
.text_form {
    height: 30px;
    font-size: 15px;
    margin-bottom: 9px;
}

/* _chat.html.erb */
.cmt {
  display: inline-block;
  list-style-type: none;
  margin: 10px 0;
  padding: 5px 8px;
  border: 1px solid #000;
  border-radius: 10px;
  clear: both;
}
.cmt span {
  font-weight: normal;
}

/* sessions/new.html.erb */
#login_display {
  width: 100%;
  height: 100%;
  background-image: url("image.jpeg");
  background-size: cover;
}
#login_form {
  width: 200px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  position: relative;
  top: 150px;
  border: 1px solid #000;
  background-color: #FDFDFD;
  border-radius: 10px;
}
#useraccount_email, #useraccount_password {
  line-height: 15px;
}
