html {
  height: 100vh;
  margin: 0;
  
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
  }
}

/* application.html.erb */
#main {
  height: 100%;
}
/* ヘッダー部 */
.header {
  position: relative;
  top: 0;
  height: 42px;
  width: 100%;
  border-bottom: 1px solid #888;
  z-index: 2;
  background-color: #fff;
}
.select {
  line-height: 130%;
  font-size: 1.8em;
  margin: 2%;
}
.user_nav .post {
  display: inline;
  height: 42px;
  float: right;
  border: none;
  padding: 0 13px;
  line-height: 42px;
  text-decoration: none;
  color: #0AF;

  &:hover { background-color: #DDF; }
  &:visited { color: #0AF; }
}

.logout_head {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.sub_msg {
  color: #888;
  font-size:0.5em;

  #group_btn {
    border: none;
    background-color: #FFF;
    font-size: 15px;
    color: #AAA;
  }
}

#list_group_add_delete {
  display: none;
  background-color: #FFF;
  width: 30%;
  border: 1px solid #000;
  border-radius: 10px;
  margin-left: 100px;
  padding: 0 10px;
  list-style: none;
  position: absolute;
  z-index: 5;
  width: 112px;
    a {
      text-decoration: none;
    }
}

.user_nav {
   .group_post {
    display: inline;
    height: 42px;
    color: #888;
    padding: 0 13px;
    line-height: 42px;
    text-decoration: none;
  }
  .group_back {
    color: #3A3;
  }
}

/* サイドメニュー */
#close_side {
  display: none;
  position: relative;
  height: 100%;
  width: 4%;
  float: left;
  padding-left: 1%;
  border-right: 1px solid #000;
  background-color: #99c;
  z-index: 3;
}
.hidden {
  border-style: none;
  float: right;
  padding: 3% auto;
  background-color: #99c;
  color: #fff;
  font-size: 170%;
  font-weight: bolder;
  &:hover {
    background-color: #aac;
  }
}
#open_side>.hidden {
  padding-top: 2%;
  padding-bottom: 2%;
}
#close_side>.hidden {
  padding-top: 20%;
  padding-bottom: 20%;
}
#open_side {
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
  border-right: 1px solid #000;
  background-color: #99C;
}
#title {
  display: inline;
  color: #333;
  font-size: 200%;
  width: 100%;
  margin-left: 1%;
}

.account_name {
  margin: 10px;
  text-shadow: 1px 1px 0px #FFF;
}
.group {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #333;
  color: #f60;
  &:hover {
    display: inline-block;
    padding: 0 10px;
    background-color: #446;
    border-radius: 20px;
  }
}

.group_list {
  height: 150px;
  overflow: scroll;
  margin-left: 50px;
}

.hr_style {
  height: 2px;
  background-color: #ACA;
  border: none;
}
#user_title {
  text-shadow: 1px 1px 0px #fff;
  color: #555;
  margin: 0 2%;
}

.user_list {
  height: 150px;
  overflow: scroll;
  margin-left: 50px;
}

.other_user {
  display: inline-block;
  padding: 0 10px;
  font-size: 20px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #333;
  color: #f60;
  &:hover {
    display: inline-block;
    padding: 0 10px;
    background-color: #446;
    border-radius: 20px;
  }
}

/* index.html.erb */
/* チャット部分 */
#content {
  height: 87%;
  overflow: auto;
  padding-top: 10px;
  margin-bottom: 10px;
  z-index: 1;
  background-image: url("image.jpeg");
  background-size: cover;
}
.form {
  position: fixed;
  bottom: 3px;
  width: 100%;
}
.text_form {
  margin-bottom: 0.5%;
  width: 73%;
  position: relative;
  left: 1%;
  font-size: 130%;
}

/* _chat.html.erb */
#ul_list{
  margin: 0;
  padding: 0;
  padding-left: 1%;
}
.cmt {
  display: inline-block;
  list-style-type: none;
  width: 97%;
  font-size: 1em;
  padding: 0.6% 0.9%;
  border-bottom: 2px solid #999;
  background-color: rgba(255, 255, 255, 0.9);
  clear: both;
  .inner_comment {
    margin-left: 10px;
    .u_name {
      color: #33c;
      font-size: 1.5em;
    }
    .sub_time {
      color: #999;
      font-size: 0.8em;
    }
    .comment {
      margin-left: 10px;
    }
  }
}
.del_btn {
  color:green;
}
/* sessions/new.html.erb */
#login_display {
  width: 100%;
  height: 100%;
  background-image: url("image.jpeg");
  background-size: cover;
  #login_form {
    width: 250px;
    margin: 0 auto;
    padding: 30px 20px;
    text-align: center;
    position: relative;
    top: 100px;
    border: 1px solid #000;
    background-color: #FDFDFD;
    border-radius: 10px;
  }
}
#useraccount_email, #useraccount_password, #useraccount_password_confirmation {
  line-height: 15px;
  width: 100%;
}
#sign_up_btn {
  font-size: 1.5em;
}

img.pic_shikamaro {
  width: 100px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 300px;
}

/*useraccounts/show.html.erb*/
#mypage {
  width: 100%;
  height: 86%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 0 5%;
  background-image: url("image.jpg");
  background-size: cover;
}
#opa_layer {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 0 5%;
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 10%;
  top: 2%;
}
#user_info {
  width: 100%;
}
.user_image {
  display: inline;
  height: 90px;
  width: 90px;
  float: left;
  background-size: cover;
  border: 4px solid #000;
  border-radius: 30px;
}
h1.mypage_title {
  margin-top: 5%;
  font-size: 250%;
  color: #fff;
  text-shadow: 3px 4px #000;
}
h2.mypage_title {
  display: inline;
  font-size: 200%;
  margin: 0;
  width: 100%;
  color: #555;
}
.user_name {
  display: inline;
}
#account_user {
  color: #000;
  text-shadow: 3px 3px #fff;
}
.cng_col {
  font-size: 110%;
  border-style: none;
}
form.cng_col {
  text-align: right;
}
select.cng_col {
  background-color: #ff8;
  color: #000;
}
#sel_col {
  width: 3em;
  border: 2px solid #888;
  border-radius: 5px;
}
button.cng_col {
  border: 2px solid #888;
  border-radius: 5px;
  background-color: #ff8;
  color: #000;
  &:hover {
    border: 2px solid #888;
    border-radius: 5px;
    background-color: #fc0;
  }
}

/* groups/new.html.erb */ 
.create_group_form {
  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -10%;
  #new_group {
    margin-left: 10%;
    h1 {
      margin: 0;
      text-shadow: 2px 2px 0 #FFF;
    }
    #group_group_name, #group_description {
      font-size: 1em;
      width: 400px;
      height: 2em;
      margin-left: 5%;
      border: 3px solid #44F;
      border-radius: 20px;
    }
    #group_group_name {
      margin-bottom: 10px;
    }
  }
}

