html {
  height: 100vh;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  position: fixed;
  top: 0;
}

/* application.html.erb */
#main {
  height: 100%;
}
/* ヘッダー部 */
.header {
  position: relative;
  top: 0;
  height: 42px;
  width: 100%;
  border-bottom: 1px solid #888;
  /*z-index: 2;*/
  background-color: #fff;
}
.select {
  line-height: 130%;
  font-size: 1.8em;
  position: fixed;
  left: 2%;
}
.user_nav .post {
  display: inline;
  height: 42px;
  float: right;
  border: none;
  padding: 0 13px;
  line-height: 42px;
  text-decoration: none;
  color: #0AF;
}
.post:hover {
  background-color: #DDF;
}
.post:visited {
  color: #0AF;
}
.logout_head {
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}
.sub_msg {
    color:gray;
    font-size:0.5em;
}

/* サイドメニュー */
#close_side {
  position: relative;
  height: 100%;
  width: 4%;
  float: left;
  padding-left: 1%;
  border-right: 1px solid #000;
  background-color: #68f;
  z-index: 3;
}
.hidden {
  border-style: none;
  float: right;
  padding: 3% auto;
  background-color: #68f;
  color: #fff;
  font-size: 170%;
  font-weight: bolder;
}
.hidden:hover {
  background-color: #9bf;
}
#open_side>.hidden {
  padding-top: 2%;
  padding-bottom: 2%;
}
#close_side>.hidden {
  padding-top: 20%;
  padding-bottom: 20%;
}
#open_side {
  display: none;
  position: relative;
  height: 100%;
  width: 20%;
  float: left;
  border-right: 1px solid #000;
  background-color: #68f;
  z-index: 3;
}
#title {
  display: inline;
  color: #333;
  font-size: 200%;
  width: 100%;
  margin-left: 1%;
}

.general{
  display: inline-block;
  font-size: 2em;
  text-decoration: none;
  text-shadow: 1px 1px 0px #333;
  color: #f60;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
}
.general:hover {
  display: block;
  background-color: #22f;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  border-radius: 20px;
}

.other_user {
  display: inline-block;
  font-size: 2em;
  margin-left: 10px;
  /*text-decoration: none;*/
}

.accountname {
  margin: 10px;
  text-shadow: 1px 1px 0px #fff;
  color: #00f;
}
.hr_style {
  height: 2px;
  background-color: #ACA;
  border: none;
}
#user_title {
  text-shadow: 1px 1px 0px #fff;
  color: #555;
  margin-left: 2%;
}
.other_user {
  display: block;
  font-size: 2em;
  text-decoration: none;
  text-shadow: 1px 1px 0px #333;
  color: #f60;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin: 0;
  /*margin-bottom:0.5em;*/
  text-align: center;
}
.other_user:hover {
  display: block;
  background-color: #22f;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  border-radius: 20px;
}

/* index.html.erb */
/* チャット部分 */
#content {
  height: 87%;
  overflow: auto;
  padding-top: 10px;
  margin-bottom: 10px;
  z-index: 1;
  background-image: url("image.jpeg");
  background-size: cover;
}
.form {
  position: fixed;
  bottom: 3px;
  width: 100%;
}
.text_form {
  margin-bottom: 0.5%;
  width: 73%;
  position: relative;
  left: 1%;
  font-size: 130%;
}

/* _chat.html.erb */
#ul_list{
  margin: 0;
  padding: 0;
  padding-left: 1%;
}
.cmt {
  display: inline-block;
  list-style-type: none;
  width: 97%;
  font-size: 1em;
  padding: 0.6% 0.9%;
  border-bottom: 2px solid #999;
  background-color: rgba(255, 255, 255, 0.9);
  clear: both;
}
.cmt span {
  font-weight: normal;
}
.u_name {
  color: #33c;
  font-size: 1.5em;
}
.sub_time {
  color: #999;
  font-size: 0.8em;
}
.del_btn {
  color:green;
}
/* sessions/new.html.erb */
#login_display {
  width: 100%;
  height: 100%;
  background-image: url("image.jpeg");
  background-size: cover;
}
#login_form {
  width: 250px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: center;
  position: relative;
  top: 150px;
  border: 1px solid #000;
  background-color: #FDFDFD;
  border-radius: 10px;
}
#useraccount_email, #useraccount_password, #useraccount_password_confirmation {
  line-height: 15px;
  width: 100%;
}
#sign_up_btn {
  font-size: 1.5em;
}

img.pic_shikamaro {
  width: 100px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 300px;
  z-index: 10;
}
