<div id="close_side">
        <button class="hidden" onclick="open_menu();">＞</button>
      </div>
      <div id="open_side">
        <strong id="title">Menu</strong><button class="hidden" onclick="hidden_menu();">＜</button>
        <% if useraccount_signed_in?%>
          <!-- ログインユーザー名 -->
          <h1 class="account_name"><span style="color:#777;">You: </span><%= current_useraccount.accountname %></h1>

          <!-- グループ -->
          <div class='group_list'>
            <% @groups.each do |group| %>
            <strong><%= link_to group.group_name, "/#{group.id}", class: "group"%></strong><br>
            <% end %>
          </div>

          <!-- 他のユーザー -->
          <hr class="hr_style">
          <h1 id="user_title">Other User</h1>
          <div class="user_list">
            <% @accounts.each do |account| %>
              <% unless current_useraccount.accountname == account.accountname %>
                <strong><%= link_to account.accountname, "/dms/#{account.id}", class: "other_user" %></strong><br>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>